.remainingUnsplashApiCalls {
  color: rgb(255, 255, 255);
  position: absolute;
  top: 30px;
  right: 50px;
  z-index: 5;
}

.imageSelectorContainer {
  position: absolute;
  bottom: 80px;
  right: 50px;
  height: 500px;
  overflow: scroll;
  z-index: 5;
}

.imageSelectorModalBackground {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  outline: 0;
  background: transparent;
  z-index: 4;
}

.imageSelectorModalBackgroundHidden,
.imageSelectorContainerHidden,
.imageSelectorContainer::-webkit-scrollbar {
  display: none;
}

.imageSelectorDisplayButton {
  position: absolute;
  bottom: 40px;
  right: 50px;
  z-index: 5;
}

:root {
  --image-selector-display-button-size: 14px;
  --image-selector-display-button-margin: 3px;
}

.imageSelectorDisplayButtonV2 {
  position: absolute;
  right: 200px;
  bottom: 40px;
  z-index: 5;
  /* border: 1px solid white; */
  width: calc((var(--image-selector-display-button-size) * 2) + var(--image-selector-display-button-margin));
  height: calc((var(--image-selector-display-button-size) * 2) + var(--image-selector-display-button-margin));
}

.imageSelectorDisplayButtonUpperLeft,
.imageSelectorDisplayButtonUpperRight,
.imageSelectorDisplayButtonLowerRight,
.imageSelectorDisplayButtonLowerLeft {
  background-color: rgb(255, 255, 255);
  opacity: 0.4;
  position: absolute;
  display: inline-block;
  border-radius: 4px;
  width: var(--image-selector-display-button-size);
  height: var(--image-selector-display-button-size);
}

.imageSelectorDisplayButtonUpperLeft {
  top: 0px;
  left: 0px;
}

.imageSelectorDisplayButtonUpperRight {
  top: 0px;
  left: calc(var(--image-selector-display-button-size) + var(--image-selector-display-button-margin));
}

.imageSelectorDisplayButtonLowerRight {
  top: calc(var(--image-selector-display-button-size) + var(--image-selector-display-button-margin));
  left: calc(var(--image-selector-display-button-size) + var(--image-selector-display-button-margin));
}

.imageSelectorDisplayButtonLowerLeft {
  top: calc(var(--image-selector-display-button-size) + var(--image-selector-display-button-margin));
  left: 0px;
}
