.remainingUnsplashApiCalls {
  color: rgb(255, 255, 255);
  position: absolute;
  top: 30px;
  right: 50px;
  z-index: 5;
}

.imageSelectorContainerFade,
.imageSelectorContainer {
  position: absolute;
  bottom: 80px;
  right: 50px;
  height: 520px;
  transition: opacity 0.15s;
  z-index: 5;
}

.imageSelectorModalBackground {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  outline: 0;
  background: transparent;
  z-index: 4;
}

.imageSelectorContainerFade {
  opacity: 0;
  transition: opacity 0.15s;
}

.imageSelectorContainerHidden {
  display: none;
}

.imageSelectorModalBackgroundHidden,
.imageSelectorContainer::-webkit-scrollbar {
  display: none;
}

:root {
  --image-selector-display-button-size: 14px;
  --image-selector-display-button-margin: 3px;
}

.imageSelectorDisplayButton {
  position: absolute;
  bottom: 40px;
  right: 50px;
  z-index: 5;
  width: calc((var(--image-selector-display-button-size) * 2) + var(--image-selector-display-button-margin));
  height: calc((var(--image-selector-display-button-size) * 2) + var(--image-selector-display-button-margin));
  cursor: pointer;
}

.imageSelectorDisplayButton:active {
  transform: scale(0.95);
  transition: all 0.2s;
}

.imageSelectorDisplayButtonUpperLeftHover,
.imageSelectorDisplayButtonUpperRightHover,
.imageSelectorDisplayButtonLowerRightHover,
.imageSelectorDisplayButtonLowerLeftHover,
.imageSelectorDisplayButtonUpperLeft,
.imageSelectorDisplayButtonUpperRight,
.imageSelectorDisplayButtonLowerRight,
.imageSelectorDisplayButtonLowerLeft {
  background-color: rgb(255, 255, 255);
  opacity: 0.4;
  position: absolute;
  display: inline-block;
  border-radius: 4px;
  width: var(--image-selector-display-button-size);
  height: var(--image-selector-display-button-size);
}

.imageSelectorDisplayButtonUpperLeftHover,
.imageSelectorDisplayButtonUpperRightHover,
.imageSelectorDisplayButtonLowerRightHover,
.imageSelectorDisplayButtonLowerLeftHover {
  opacity: 0.7;
  box-shadow: 0px 0px 10px 1px rgba(255, 255, 255, 0.5);
  /* box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5); */
}


.imageSelectorDisplayButtonUpperLeftHover,
.imageSelectorDisplayButtonUpperLeft {
  top: 0px;
  left: 0px;
}

.imageSelectorDisplayButtonUpperRightHover,
.imageSelectorDisplayButtonUpperRight {
  top: 0px;
  left: calc(var(--image-selector-display-button-size) + var(--image-selector-display-button-margin));
}

.imageSelectorDisplayButtonLowerRightHover,
.imageSelectorDisplayButtonLowerRight {
  top: calc(var(--image-selector-display-button-size) + var(--image-selector-display-button-margin));
  left: calc(var(--image-selector-display-button-size) + var(--image-selector-display-button-margin));
}

.imageSelectorDisplayButtonLowerLeftHover,
.imageSelectorDisplayButtonLowerLeft {
  top: calc(var(--image-selector-display-button-size) + var(--image-selector-display-button-margin));
  left: 0px;
}
